---
layout: default
---

<div class="home">
  <div id="sticky">
  {% include sticky.html %}
  </div>

  <ul class="post-list">
<!--

    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
-->

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h2><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></h2>

  <p class="author">
    <span class="date post-meta">
      {{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}
    </span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}


{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prec</a>
  {% else %}
    <span>&laquo; Prec</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Succ &raquo;</a>
  {% else %}
    <span>Succ &raquo;</span>
  {% endif %}
</div>
{% endif %}

</div>
