<!--
ATTENZIONE: questo file viene riprodotto in cima alla homepage
se vuoi aggiungere una notizia importante mettila alla fine di questo file!

-->
<div id="chi-siamo">
    <h1 class="page-heading">Chi siamo</h1>

<!--
Siamo un gruppo di appassionati di tecnologia, del fai da te ed amanti
del software libero.  Ispirati dal progetto <a
href="http://ninux.org">Ninux di Roma</a> stiamo imparando e
sperimentando insieme la vita del ninuxaro!
-->

Siamo un gruppo di appassionati di tecnologia, del fai da te e del
software libero. Ispirati dal
progetto <a href="http://ninux.org">Ninux di Roma</a> vogliamo
realizzare anche a Firenze (e dintorni) una rete wireless libera da
censure e di proprietà delle persone.


</div>
<div id="vuoi-partecipare">
  <h1 class="page-heading">Vuoi partecipare?</h1>
  <ul>
    <li> Vai sulla <a href="http://map.ninux.org">mappa</a> e aggiungi un nodo potenziale</li>
    <li> Iscriviti alla <a href="http://ml.ninux.org/mailman/listinfo/firenze">nostra mailing list</a></li>
    <li> Vieni ad una riunione del gruppo: gli incontri avvengono <strong>il Lunedì ogni 2 settimane presso la sede all'<a href="http://www.exfila.it">exfila</a></strong> (via Monsignor Leto Casini, 11, Firenze, <a href="http://www.openstreetmap.org/?mlat=43.768925070762634&mlon=11.29794180393219&zoom=18">mappa</a>) alle ore 21.00.</li>
  </ul>
</div>

<!-- aggiungi qui sotto le tue modifiche magari segnando con un
commento quando è il caso di rimuoverle -->

<!-- LinuxDay 2014
<div id="LinuxDay2014">
  <h1 class="page-heading">LinuxDay 2014</h1>
  
  Siamo presenti al <a href="http://www.linuxday.it">Linux Day
  2014</a> sabato 25 ottobre 2014 presso:

  <ul>
    <li>la manifestazione organizzata
      dall'associazione <a href="http://www.liberainformatica.it/">Libera
      Informatica</a> presso le Murate durante
      il <a href="http://www.liberainformatica.it/attivita/sabato-25-ottobre-linux-day/">programma</a>
      della mattina;
    </li>
    <li>
      la manifestazione organizzata
      dal <a href="http://www.firenze.linux.it">Firenze Linux User
      Group</a> presso la sede
      dell'<a href="http://www.exfila.it">exfila</a> durante
      il <a href="http://www.firenze.linux.it/2014/09/linuxday-14_2014/">programma</a>
      del pomeriggio
    </li>
  </ul>
</div>
  -->
